/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
#block-hospital-main-menu ul.navbar-nav {
  background: #35a08a;
  background-image: linear-gradient(#35a08a, #68c7b4, #35a08a);
  width: 100%;
  height: -webkit-fill-available;
  padding-top: 22px;
}

#block-hospital-main-menu ul.navbar-nav li {
  display: inline-block;
  width: 100%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background: #5bc2ad !important;	
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color:#fff !important;
}
.navbar-nav>li>a
{
  color:#fff;	
  padding-left: 27px;
}
#block-hospital-main-menu .nav>li>a:focus,
#block-hospital-main-menu .nav>li>a:hover {
	text-decoration: none;
	background: none !important;
	color:#fff !important;
	border-left: 6px solid #fff;
  padding-left: 21px;
}
.container-fluid{
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}
#block-hospital-account-menu ul{
	margin-right: 20px;
}
.main-container .region.region-content {
  padding: 30px 40px 20px 20px;
}
.row{
	margin-right: 0 !important;
}
a.logo img {
  width: 34px;
}
a.logo {
  padding-right: 0 !important;
}
.info-box {
  display: block;
  min-height: 90px;
  background: #f8f8f8;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  color: #5bc2ad;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0,0,0,0.05);
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-text {
  text-transform: uppercase;
}
.progress-description, .info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 34px;
  color: #d3c620;
}
h1.js-quickedit-page-title.page-header {
  color: #46a28b;
  font-size: 20px;
}
#block-doctorblock,
#block-patientsblock,
#block-appointmentblock {
  width: 33.33%;
  float: left;
}
.btn-info,
.btn-info:focus, 
.btn-info:hover {
  color: #fff;
  background-color: #d3c620 !important;
  border-color: #d3c620 !important;
}
.control-label{
	width: 100%;
}
table thead {
  background: #5bc2ad;
  color: #fff;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #5bc2ad !important;
  border-color: #5bc2ad !important;
}
.pagination>li.active>a {
  color: #fff !important;
  border: 1px solid #5bc2ad !important;
}
.pagination>li>a, .pagination>li>span {
  color: #5bc2ad !important;
  border: 1px solid #5bc2ad !important;
}
#views-exposed-form-doctors-page-1 .form-control {
  width: 230px !important;
  margin-top: 8px;
}
#views-exposed-form-doctors-page-1 .form-submit {
  margin-top: 29px !important;
}
#views-exposed-form-patients-page-1 .form-submit,
#views-exposed-form-departments-page-1 .form-submit,
#views-exposed-form-appointments-page-1 .form-submit{
	 margin-top: 20px !important;
}
#user-doctor-form .form-item {
  width: 100%;
  box-shadow:none;
}
#user-doctor-form .js-form-wrapper {
  width: 50%;
  float: left;
  padding: 2px 10px;
}
#user-doctor-form .form-date,
#user-doctor-form .form-number {
  width: 100% !important;
}
#user-doctor-form div#edit-field-address-wrapper {
  width: 100% !important;
}
#user-doctor-form #edit-field-address-wrapper .js-form-wrapper {
  width: 100% !important;
  padding: 0;
  margin:0;
  border: none;
}
#user-doctor-form .panel-default>.panel-heading {
  background: none;
  border: none;
}
#user-doctor-form #edit-field-address-wrapper .panel-heading{
	display: none;
}
#user-doctor-form #edit-field-address-wrapper .panel-body{
	padding: 0;
}
#user-doctor-form #edit-field-address-wrapper .form-item{
  width: 50%;
  float: left;
}
#user-doctor-form #edit-field-address-wrapper #edit-field-address-0-address{
	width: 100% !important;
}
#user-doctor-form #edit-field-address-wrapper div.address-container-inline > .form-item {
  display: inline-block;
  float: left !important;
  width: 50% !important;
  margin-right: 0 !important;
}
#user-doctor-form #edit-field-address-wrapper .js-form-item-field-address-0-address-locality{
  padding-right: 20px !important;
}
#user-doctor-form #edit-field-address-wrapper .js-form-item-field-address-0-address-administrative-area {
  width: 48% !important;
}
#user-doctor-form #edit-field-address-wrapper #edit-field-address-0-address-country-code{
  width: 50% !important;
}
#user-doctor-form #edit-field-address-wrapper .js-form-item-field-address-0-address-country-code{
  width: 100% !important;
  padding-right: 20px;
}
#user-doctor-form textarea#edit-field-description-0-value {
  height: 104px !important;
}
#user-patient-form .js-form-wrapper {
  width: 50%;
  float: left;
  padding: 2px 10px;
}
#user-patient-form div#edit-field-address-wrapper {
  width: 100% !important;
}
#user-patient-form #edit-field-address-wrapper .js-form-wrapper {
  width: 100% !important;
  padding: 0;
  margin:0;
  border: none;
}
#user-patient-form .panel-default>.panel-heading {
  background: none;
  border: none;
}
#user-patient-form #edit-field-address-wrapper .panel-heading{
	display: none;
}
#user-patient-form #edit-field-address-wrapper .panel-body{
	padding: 0;
}
#user-patient-form #edit-field-address-wrapper .form-item{
  width: 50%;
  float: left;
}
#user-patient-form #edit-field-address-wrapper #edit-field-address-0-address{
	width: 100% !important;
}
#user-patient-form #edit-field-address-wrapper div.address-container-inline > .form-item {
  display: inline-block;
  float: left !important;
  width: 50% !important;
  margin-right: 0 !important;
}
#user-patient-form #edit-field-address-wrapper .js-form-item-field-address-0-address-locality{
  padding-right: 20px !important;
}
#user-patientpatient-form #edit-field-address-wrapper .js-form-item-field-address-0-address-administrative-area {
  width: 48% !important;
}
#user-patient-form #edit-field-address-wrapper #edit-field-address-0-address-country-code{
  width: 50% !important;
}
#user-patient-form #edit-field-address-wrapper .js-form-item-field-address-0-address-country-code{
  width: 100% !important;
  padding-right: 20px;
}
#user-patient-form #edit-field-age-0-value{
	width: 100% !important;
}
#user-patient-form #edit-field-admit-date-0{
	padding: 0;
	border: none !important;
	width: 100%;
}
#user-patient-form .panel-title{
	font-weight: bold;
	font-size: 14px;
	padding: 0;
}
#user-patient-form .panel-body {
  padding: 0;
}
#user-patient-form #edit-field-admit-date-0 input {
  width: 237px;
}
#user-patient-form #edit-field-description-wrapper{
  width: 100%;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: none !important;
  border: none !important;
  border-left: 6px solid #fff;
}
h1.main-view-title {
  color: #46a28b !important;
  font-size: 20px !important;
}
a.add-view-user-btn {
  background: #d3c620;
  color: #fff;
  padding: 7px 15px;
  text-decoration: none !important;
}
.view-add-user {
  text-align: right;
}
.appointment-main {
  width: 100% !important;
  display: flex;
  padding-bottom: 10px;
}
.upcoming-appointment {
  font-size: 16px;
  width: 68%;
  color: #46a28b;
  font-weight: 500;
}
.appointment-view-all {
  width: 32%;
  float: left;
  text-align: right;
}
section#block-views-block-upcoming-appointments-block-1 {
  background: #f8f8f8;
  padding: 20px 20px 4px 20px;
  width: 65%;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}
.doctor-padding{
  padding-left: 0 !important;
}
.appointment-padding{
  padding-right: 0 !important;
}
#block-views-block-doctors-availability-block-1 {
  width: 32%;
  float: left;
  background: #f8f8f8;
  padding: 12px;
  margin-left: 30px;
  margin-top: 15px;
  min-height: 298px;
}
#block-views-block-new-patients-block-1 {
  width: 32%;
  float: left;
  background: #f8f8f8;
  padding: 12px;
  margin-top: 30px;
}
#block-patientchartblock{
  background: #f8f8f8;
  padding: 20px 20px 4px 20px;
  clear: both;
  width: 65%;
  float: left;
  margin-top: 15px;
}
#block-patientchartblock h2.block-title {
  font-size: 16px;
  width: 80%;
  color: #46a28b;
  font-weight: 500;
  padding: 0 !important;
  margin: 0 !important;
}
#node-appointment-form .js-form-wrapper {
  width: 50%;
  float: left;
  padding: 2px 10px;
}
#node-appointment-form #edit-title-wrapper,
#node-appointment-form .form-type-vertical-tabs{
  display: none;
}
button#edit-submit {
  background: #d3c620 !important;
  border: #d3c620 !important;
}
.doctor-delete-confirm h1 {
  font-size: 20px;
  color: #e60000;
  padding-bottom: 20px;
}
.doctor-delete-confirm .confirm-button {
  width: 90px;
  float: left;
}
div#edit-langcode-wrapper {
  display: none;
}
textarea {
  resize: none !important;
}
#edit-field-time-wrapper .form-type-date{
  width: 49%;
}
#edit-field-time-wrapper input{
  width: 100%;
}
#edit-field-status-wrapper fieldset{
  width: 100% !important;
}
.no-mp {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px;
  background: #ffffff;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
}
.card-img-top{
  width: 100%;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background: #fafafa;
}
.card-title {
  margin-bottom: .75rem;
  color: #46a28b;
}
.add-view-user-btn-red {
  background: #f00 !important;
}
.card-text {
  font-weight: 600;
  padding: 4px 0;
}
.view-icon {
  padding-left: 10px;
}
.password-suggestions,
.password-strength{
  display: none !important;
}